docker-compose.override.yaml
docker/mopidy-iris/mopidy.conf

docker/mopidy-iris/local/*
!docker/mopidy-iris/local/.gitkeep
docker/mopidy-iris/http/*
!docker/mopidy-iris/http/.gitkeep
docker/mopidy-iris/playlists/*
!docker/mopidy-iris/playlists/.gitkeep
!docker/mopidy-iris/playlists/Radios.m3u8
docker/mopidy-iris/data/*
!docker/mopidy-iris/data/.gitkeep
docker/mopidy-iris/media/*
!docker/mopidy-iris/media/.gitkeep
!docker/mopidy-iris/media/Monarch_of_the_street_clip.mp3
docker/snapserver/config/*
!docker/snapserver/config/.gitkeep
